<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haha.mapper.SupportRankMapper">

    <insert id="insert" parameterType="rank">
        insert into support_rank(id, hero_name, level, layer, win_rate, pick_rate, avatar, update_time) values(#{id},#{heroName},#{level},#{layer},#{winRate},#{pickRate},#{avatar},#{updateTime})
    </insert>

</mapper>